.button {
  background-color: #e91e63;
  border: 1px solid #e91e63;
  min-width: 100px;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
}

.button:hover,
.button:active,
.button:target {
  background-color: #d81b60 !important;
  border: 1px solid #e91e63 !important;
  min-width: 100px;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #e91e63;
  color: #e91e63;
  min-width: 100px;
  padding: 8px 10px;
  border-radius: 4px;
}

.button-outline:hover,
.button-outline:active,
.button-outline:target {
  background-color: #e91e63 !important;
  border: 1px solid #e91e63 !important;
  color: white;
  min-width: 100px;
}