.result-card {
    border: 1px solid #e91e63;
    background-color: #faecf1;
    margin: 20px auto;
}

.result-text {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    color: #e91e63;
}