.question-info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.question-text {
    font-size: 1.75rem;
    color: #e91e63;
    line-height: 1.2;
    font-weight: 600;   
}

.card-box {
    border: 1px solid #e91e63;
    background-color: #faecf1;
}

.card-button {
    background-color: #e91e63;
    border: 1px solid #e91e63;
}

.card-button:hover, .card-button:active, .card-button:target {
    background-color: #d81b60 !important;
    border: 1px solid #e91e63 !important;
}

.card-button-outline {
    background-color: transparent;
    border: 1px solid #e91e63;
    color: #e91e63
}

.card-button-outline:hover, .card-button-outline:active, .card-button-outline:target {
    background-color: #e91e63 !important;
    border: 1px solid #e91e63 !important;
    color: white
}
